body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.container {
  display: flex;
  flex-direction: column;
 
}

.whole-block {
  display: flex;
  flex-flow: row wrap;
}

.time-label {
  width: 10%;
  border-right: solid 2px #4d4d4db8;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;

}
.time-block {
  width: 80%;
  text-align: center;
  border-radius: 8px;
  height: 90px;
  transition: .222s
}

.time-block:hover {
  background-color: rgba(255, 134, 207, 0.625);
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #6e796fc4;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  width: 10%;
}

.saveBtn i:hover {
  font-size: 40px;
  color: rgb(219, 255, 112);
}

#currentDay {
  font-size: 50px;
  border: rgb(84, 131, 112) solid;
  padding: 20px;
  border-radius: 5px;

}
